.sub-header {
	background-color: #dcdcdc;
	padding: 10px;
	margin-bottom: 5rem;
	height: 150px;
}
.sub-headline {
	font-size: 4rem;
	padding-top: 2rem;
}

.btn-sub-header {
	margin-top: -20px;
	display: inline;
}

.btn-nav {
	width: 100px;
}
/* proč nefunguje?*/
.promenne {
	margin-top:-115px;
}
.table-text li{
	display: inline;
	margin-bottom:20px;
}
.btn-set-sklik{
	margin-top: 20px;
}
.label-box{
	border-color:#000000;
	border-radius: 10px;
	border:1px solid;
	min-height: 250px;
	padding: 20px;

}
.label-box label{
	margin:20px;
}
.campaign-list{
	border-right: 1px solid;
	border-color:#000000;
}
.created-ads{
	border-right: 1px solid;
	border-color:#000000;
}

.ad-box li{
	color:#289AFF;
	list-style-type: none;
}
.ad-box{
	border: 1px solid;
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
}
.nav-sub-headline{
	margin-top: -20px;
}
.duplicate-button{
	margin-top: -30px;
}
.campaign-way{
	margin-top: -60px;
}
.container-editor{
	margin-left: 30px;
	margin-right: 30px;
}
.ad-box-list li{
	list-style-type: none;
}